<%= render "shared/navbar" %>

 <div class="container">
  <div class="container">
    <div class="row">
      <% @robots.each do |robot| %>
        <div class="col-4 d-flex">
          <div class="card mb-4 flex-fill robot-card">
            <img class="card-img-top img-fluid" src="<%= robot.image_url %>">
            <div class="card-body vh-50">
              <h3 class="card-title"><%= robot.model %></h3>
              <p class="card-text">Price: $<%= robot.price %></p>
              <p class="card-text">Rating: <%= robot.rating %></p>
              <p class="card-text">Overview: <%= robot.overview %></p>
              <button type="button" class="btn btn-dark w-100 mb-3"><%= link_to 'See Robot', robot_path(robot), style: "color: white; text-decoration: none" %></button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
