
<div class="show-page-container container p-4 mt-4 mb-4">
  <div class="container d-flex pb-4">
    <div class="container image-container p-0">

<div  class="splide" data-controller="splide" >
<div  class="splide__track">
  <!-- Additional required wrapper -->
  <ul class="splide__list">

    <% @robot.image_urls.each do |robot_image| %>
         <li class="splide__slide">
            <img class="w-100" src=" <%=  robot_image%>">
        </li>  
    <% end %>
    </ul>
  </div>
</div>


    </div>
    <div class="robot-info container">
      <h1><%= @robot.model %></h1>
      <p><%= @robot.overview %></p>
      <div class="price-container">
        <h3>$ <%= number_with_precision(@robot.price, precision: 2) %></h3>
        <p><strong>Daily rate </strong></p>
      </div>
      <p><strong>Owner: </strong><%= @robot.user_id %></p>
      <p>Do you want to rent this robot?</p>
      <%= link_to "Rent this bad boy", new_robot_booking_path(@robot), class: "btn btn-primary" %>
    </div>
  </div>
</div>

