<div class="container">
  <div class="class"></div>
    <h1>Here you can book this bad boy.</h1>
    <div class="row">

      <div class="col">
        <%= @robot.model %>
        <%= @robot.overview %>
        <%= @robot.price %>
        <%= @robot.rating %>
        <img src=@robot.image_url alt="Robot-picture">
      <%# render image %>
      </div>

      <div class="col"></div>
        <%= render "shared/form_booking", robot: @robot, booking: @booking%>
      </div>
    </div>
  </div>
</div>
